<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h3>Create New Event</h3>
    <a routerLink="/events" class="btn btn-outline-secondary">← Back</a>
  </div>

  <div class="card shadow p-4 mb-4">
    <h5 class="mb-3 text-primary">Basic Information</h5>
    <div class="row g-3">
      <div class="col-md-6">
        <label>Event Title *</label>
        <input type="text" class="form-control"
               [(ngModel)]="event.eventTitle" name="eventTitle">
      </div>
      <div class="col-md-6">
        <label>Event Type *</label>
        <select class="form-select"
                [(ngModel)]="event.eventType" name="eventType">
          <option value="">Select</option>
          <option>Wedding</option>
          <option>Birthday</option>
          <option>Corporate</option>
          <option>Seminar</option>
        </select>
      </div>
      <div class="col-md-6">
        <label>Date *</label>
        <input type="date" class="form-control"
               [(ngModel)]="event.eventDate" name="eventDate">
      </div>
      <div class="col-md-3">
        <label>Start Time</label>
        <input type="time" class="form-control"
               [(ngModel)]="event.startTime" name="startTime">
      </div>
      <div class="col-md-3">
        <label>End Time</label>
        <input type="time" class="form-control"
               [(ngModel)]="event.endTime" name="endTime">
      </div>
      <div class="col-md-6">
        <label>Venue *</label>
        <select class="form-select"
                [(ngModel)]="event.venueId" name="venueId">
          <option [ngValue]="null">Select Venue</option>
          <option *ngFor="let v of venues" [ngValue]="v.id">
            {{ v.name }} - {{ v.location }}
          </option>
        </select>
      </div>
      <div class="col-md-6">
        <label>Status</label>
        <select class="form-select"
                [(ngModel)]="event.status" name="status">
          <option>Planned</option>
          <option>Confirmed</option>
          <option>Ongoing</option>
          <option>Completed</option>
          <option>Cancelled</option>
        </select>
      </div>
    </div>
  </div>


  <div class="card shadow p-4 mb-4">
    <h5 class="mb-3 text-primary">Additional Info</h5>
    <div class="row g-3">
      <div class="col-12">
        <label>Notes</label>
        <textarea class="form-control" rows="3"
                  [(ngModel)]="event.notes" name="notes"></textarea>
      </div>
    </div>
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

  <div class="d-flex justify-content-end gap-3 mb-5">
    <a routerLink="/events" class="btn btn-outline-secondary">Cancel</a>
    <button type="button" class="btn btn-success px-4"
            (click)="saveEvent()">Save Event</button>
  </div>
</div>